table {
  text-align: center;
  padding: 7%;
  background-color: white;
}
td {
  border: black 1px solid;
  background-color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 8px;
}

td:nth-last-child(1)  {
    background-color: violet;
}
td:nth-last-child(2)  {
    background-color: orange;
}

tr:nth-child(1) :nth-child(1) {
  background-color: yellow;
}
td:nth-child(1) {
  background-color: gray;
}
td:nth-child(2) {
  background-color: moccasin;
}
tr:nth-child(8) :nth-child(n + 2) ,tr:nth-child(6) :nth-child(3){
  background-color: lightblue;
}
tr:nth-child(9) :nth-child(n + 1),tr:nth-child(7) :nth-child(3) {
  background-color: lightseagreen;
}
tr:nth-child(9) :nth-child(1),
tr:nth-child(8) :nth-child(1),

tr:nth-child(8) :nth-child(n + 16),
tr:nth-child(9) :nth-child(n + 16)
 {
  background-color: transparent;
  border: none;
}
td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(6),td:nth-child(7),td:nth-child(8),td:nth-child(9),td:nth-child(10),td:nth-child(11),td:nth-child(12){ 
    background-color: green;
  }

